*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
body
{
    background-size: cover;
    background-repeat: no-repeat;
}
.top-content
{
    background-image: url("img/main_mustang.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.top-header
{
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.link-menu
{
    color: white;
    text-decoration: none;
    padding: 10px 0 14px;
    margin: 0 20px;
    display: block;
    font-size: 12px;
    transition: .15s;
}
.link-menu:hover
{
    border-bottom: #fff799 solid 3px;
    transition: .15s;
    padding: 10px 0;
}
#nav
{
    display: flex;

}
.socialmedia-icon > .fab {
    color: white;
    font-size: 15px;
}
.socialmedia-icon {
    color: #f6bf67;
    background-color: #f6bf67;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: flex;
    padding: 1px;
   align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.fab
{
    font-size: 24px;
}
#top-socialmedia
{
    display: flex;
    
}

#middle_content
{
    height: 100vh;
    /* chuja to dziala */
}
.paragraph
{
    padding: 10px;
    border-left: 190px solid #f8c16c;
    margin: 90px 0px;
}
.normal-text
{
    font-size: 140%;
}
.text-bold
{
    font-size: 100%;
    font-weight:700;
}
.cars-menu
{
    width: auto;
    height: auto;
    max-width: 1920px;
    margin: auto;
}
.black-cars
{
    display: flex;
    justify-content: space-around;
    height: auto;
    flex-wrap: wrap;
    min-height: 300px;
    
}
.car-option
{
    margin: 0 2% 0 2%;
    width: 100%;
    border-radius: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    min-height: 400px;
    max-width: 273px;
    padding: 30px;
    border-radius: 14px;
    text-align: center;
    
}
.header-logo {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
img.logo-top {
    max-width: 338px;
    width: 100%;
}
h2#special {
    color: white;
    font-size: 42px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 90px;
    line-height: 37px;
}
input.button {
    width: 100%;
    max-width: 148px;
    background: none;
    border: 2px solid white;
    border-radius: 13px;
    color: white;
    padding: 10px;
}
.car-name
{
    color: white;
    
}
.hours-event
{
    display: flex;
    justify-content: space-around;  
    
}
.upcoming-event
{
    margin: 0 25%;
}
.middle-logo
{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.car-name
{
    padding-top: 20px;
}
.bmw-m3
{
    background-image: url("img/bmw1.png");
    background-size: cover;
    background-position: 25% 50%;
    background-color: black;
    
}
/*.bmw-m3::before
{
    position: absolute;
    max-width: 35%;
    height: 100%;
    content:"";
    background-color: black;
    opacity: 0.9;
}*/
.ford-mustang1
{
    background-image: url("img/Mustang1.png");
    background-size: cover;
    background-position: 25% 50%;
    
}
.a45amg
{
    background-image: url("img/Mercedes1.png");
    background-size: cover;
    background-position: 45% 50%;
}
.ford-mustang2
{
    background-image: url("img/mustang2.png");
    background-size: cover;
    background-position: 25% 50%;
    
}
.bmw-m8
{
    background-image: url("img/bmw2.png");
}
.bottom-content
{
    height: 30vh;
    width: auto;
    background-image: url("img/nfs.png");
    background-size: cover;
    background-position: 20% 60%;
    color: white;
    justify-content: center;
    z-index: 0;
    min-height: 300px;
    display: flex;
    align-items: center;
}
/*.bottom-content::after
{
    content: " ";
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    position: absolute;
}*/
.upcoming-event
{
  
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    /*background-color: black;
    opacity: 0.5;*/
}

.text-event
{
    text-align: center;
    padding: 0 0 3%;
}
.circle-days
{
    background-color: #532dac ;
    padding: 2%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 15%;
}
.round-event
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.car-spot
{
    height: 30%;
    width: 100%;
    display: flex;
}
.spot-logo
{
    background-color: blueviolet;
    width: 100%;
    background-image: url("img/spot.png");
    background-size: cover;
    max-width: 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 300px;
    justify-content: center;
}
.spot-info
{
    width: 100%;
    background-color: #532dac;
    color: white;
    max-width: 50%;
    position: static;
    box-sizing: border-box;
    padding: 5%;
}
.spot-main-info
{
    padding-bottom: 5%;
}
.active {
    display: flex !important;
}
.burger {
    display: none;
}
.footer
{
    background-color: #100e17;
    color: white;
    padding: 30px;
}
.gold-font
{
    color: #f3bf6b;
}
.bottom-info
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.column-info
{
    padding: 5% 5%;
    text-align: center;
}
.contact-icon{
    color: #f6bf67;
    /*background-color: white;*/
    border-radius: 100%;
    height: 24px;
    width: 24px;
    display: block;
    padding: 10% 10%;
    background-color: #242034;
    margin-bottom: 10%;
}
.bottom-socialmedia
{
    display: flex;
    justify-content: center;
}
p.spot-name {
    display: flex;
    margin: 8px 0;
}
.fas
{
    font-size: 30px;
    
}
.f10
{
    font-size: 20px;
    color: #edb655;
    margin-right: 1%;
}
.bottom-contact
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}
.top-header {
    display: flex;
}
@media(max-width:876px){
.burger {
    display: block;
}
.bottom-contact
{
    margin-bottom: 2%;
}
.contact-icon
{
    margin-bottom: 2%;
}
#nav {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.burger {
    color: white;
    padding: 5px 18px 18px 5px;
    text-align: center;
    position: fixed;
    background: #2196f3;
    border-radius: 0 0 100% 0;
    z-index: 999;
}
.link-menu {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-size: 12px;
    transition: .15s;
    text-align: center;
}
.top-header {
    height: auto;
    align-items: center;
    display: none;
    justify-content: space-around;
    background: black;
    flex-direction: column;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 0;
}
}

@media(max-width:700px){
.circle-days
{
    width: 40px;
    height: 40px;
}
.car-spot
{
    flex-direction: column;
}
.spot-info {
    padding: 5.5%;
    max-width: 100%;

}
.spot-logo {
    max-width: 100%;
    display: flex;
    align-items: center;
    min-height: 300px;
    justify-content: center;
}
}